---
import { type CollectionEntry, getCollection } from "astro:content";
import Comments from "../../components/Comments.astro";
import Layout from "../../layouts/PageLayout.astro";
import Pagination from "../../components/PostPagination.astro";

export async function getStaticPaths() {
	const posts = await getCollection("blog");
	const total = posts.length;

	return posts.map((post, index) => ({
		params: { slug: post.slug },
		props: {
			post,
			prevPost: index + 1 === total ? null : posts[index + 1],
			nextPost: index === 0 ? null : posts[index - 1],
		},
	}));
}
type Props = CollectionEntry<"blog">;

const { post, prevPost, nextPost } = Astro.props;
const { Content, remarkPluginFrontmatter } = await post.render();
---

<style>
	.header {
		text-align: center;
	}
</style>

<Layout title={post.data.title} description={post.data.description}>
	<article>
		<section class="header">
			<h1>{post.data.title}</h1>
			<p>
				<small>
					Posted
					<time datetime={post.data.pubDate.toISOString()}>{post.data.pubDate.toDateString()}</time>
					&nbsp;by&nbsp;{post.data.author}&nbsp;‐
					<strong>{remarkPluginFrontmatter.minutesRead}</strong>
				</small>
			</p>
		</section>

		<section>
			<Content />
		</section>

		<section>
			<Pagination prevPost={prevPost} nextPost={nextPost} />
		</section>

		<section>
			<Comments />
		</section>
	</article>
</Layout>
