---
import { type CollectionEntry, getCollection } from "astro:content";
import Comments from "../../components/Comments.astro";
import Layout from "../../layouts/BaseLayout.astro";
import blogPostSchema from "../../utils/schemas/blogPostSchema";
import dayjs from "dayjs";

type Props = CollectionEntry<"blog">;

export async function getStaticPaths() {
	const posts = await getCollection("blog", ({ data }) => {
		return data.draft !== true;
	});

	return posts.map((post) => ({
		params: { slug: post.slug },
		props: post,
	}));
}

const post = Astro.props;

const { Content, remarkPluginFrontmatter } = await post.render();

const title = post.data.title;
const description = post.data.description;
const author = post.data.author;
const lang = post.data.lang;

const formattedData = dayjs(post.data.pubDate.toString()).format("MMMM DD, YYYY");
const data = post.data.pubDate.toISOString();

const schema = blogPostSchema({
	siteUrl: new URL("/", Astro.site).toString(),
	title,
	slug: post.slug,
	datePublished: data,
	author,
});
---

<style lang="scss">
	@use "../../scss/variables" as *;

	p {
		opacity: 0.5;
	}
</style>

<Layout title={title} description={description} lang={lang} schema={schema}>
	<article>
		<section>
			<h1>{title}</h1>
		</section>

		<section>
			<p>
				<small>
					Posted
					<time datetime={data} lang="en">{formattedData}</time>
					by&nbsp;{author}
					<span>&nbsp;•&nbsp;</span>
					<span>{remarkPluginFrontmatter.minutesRead}</span>
				</small>
			</p>
		</section>

		<section>
			<Content />
		</section>

		<section>
			<Comments />
		</section>
	</article>
</Layout>
